/*========= Google Fonts =======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Work+Sans:wght@300&display=swap");

/*======= VARIABLES CSS ========*/

:root {
  --header-height: 6rem;

  /*======= COLORS ========*/

  --first-color: #26a69a;
  --first-color-lighter: #ecf3f2;
  --title-color: #11443f;
  --text-color: #586261;
  --body-color: #faf4ed;

  /*======= Font and Typography ========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --sub-font-size: 0.882rem;
  --normal-font-size: 1rem;
  --big-font-size: 42px;

  /*======= Font Weight ========*/
  --font-medium: 500;
  --font-semi-bold: 500;

  /*======= z index ========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (max-width: 921px) {
  :root {
    --biggest-font-size: 4rem;
    /* --sub-font-size: 0.88rem; */
    --normal-font-size: 0.941rem;
    --big-font-size: 34px;
  }
}

@media screen and (max-width: 544px) {
  :root {
    --biggest-font-size: 3rem;
    --sub-font-size: 0.823rem;
    --normal-font-size: 0.882rem;
    --big-font-size: 30px;
  }
}

/*======= BASE ========*/

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.85714285714286;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  line-height: 1.6;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=======================stays =====================*/

.staysPage {
  padding: 104px 40px;
  background-color: whitesmoke;
}
.staysPage__heading {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.staysPage__heading__text {
  color: var(--first-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.25em;
  font-weight: var(--font-medium);
  font-size: 15px;
  font-family: var(--body-font);
}
.hotel {
  padding: 104px 40px;
  background-color: var(--body-color);
}
.staysPage__container,
.hotel__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.staysPage__title,
.hotel_title {
  padding: 0% 18%;
  margin-bottom: 20px;
  width: 100%;
}

.staysPage__text,
.hotel__title__text {
  font-family: var(--body-font);
  font-size: var(--big-font-size);
  line-height: 1.25em;
  font-weight: var(--font-medium);
  color: var(--title-color);
  text-align: center;
}

.staysPage__description {
  margin-bottom: 20px;
  width: 100%;
}
.stays__wrapper {
  text-align: center;
  padding: 0% 24%;
  line-height: 1.857;
}

.staysPage__descriptionText {
  padding-bottom: 1em;
}

.stays__Row-1 {
  margin-top: 24px;
  width: 100%;
}
.stays__Row-3,
.stays__Row-2 {
  margin-top: 64px;
  width: 100%;
}
.stays__row-1__container,
.stays__row-2__container,
.stays__row-3__container {
  display: flex;
  flex-wrap: wrap;
}

.stays__row__wrap-0,
.stays__row__wrap-1,
.stays__row__wrap-2 {
  width: 33.333%;
}
.staysPage__column__item {
  text-align: center;
}

.staysPage__image__wrapper {
  border: solid 0 rgb(165, 165, 165);
  border-radius: 20px;
  /* margin-right: 15px;
  margin-left: 15px; */
  /* box-shadow: 1px 1px 1px 1px #888888; */
}

.staysPage__image__wrapper:hover {
  border: solid 1px rgb(236, 226, 226);
  border-radius: 20px;
  box-shadow: 2px 2px 18px 5px #888888;
}

.right__padding {
  padding: 0 32px 0 0;
}
.mid__padding {
  padding: 0 16px 0;
}
.left__padding {
  padding: 0 0 0 32px;
}

.staysPage__image {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.staysPage__image__box {
  margin-bottom: 10px;
}

/* .staysPage__image__animation {
  display: inline-block;
  font-size: 24px;
  padding: 16px;
  border-radius: 8px;
  line-height: 1;
  transition: all 0.3s;
  text-align: center;
  font-weight: 400;
  color: var(--first-color);
  margin-bottom: 8px;
} */
.staysPage__image__box__title {
  font-size: 24px;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: 8px;
  line-height: 1.2;
}

.staysPage__image__box__description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}
.staysPage__img {
  border-radius: 8px;
  max-width: 100%;
  height: 100%;
}

.foressta__rooms__row-1,
.iris__rooms__row-1,
.harippur__rooms__row-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.foresstaRooms__wrapper__row-1,
.foresstaRooms__wrapper__row-2,
.irisRooms__wrapper__row-1,
.irisRooms__wrapper__row-2,
.harippurRooms__wrapper__row-1,
.harippurRooms__wrapper__row-2 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  text-align: left;
}

.room__content {
  width: 50%;
}

.left__room__pad {
  padding: 0 0 0 24px;
}

.right__room__pad {
  padding: 0 24px 0 0;
}

.room__info {
  margin-bottom: 24px;
}
.room__image__box {
  width: 100%;
  margin: 0 0 24px;
}
.room__img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  vertical-align: middle;
}

.room__title {
  margin-bottom: 8px;
  color: var(--title-color);
  font-size: 20px;
  line-height: 1.2em;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.room__description {
  font-size: var(--normal-font-size);
}

.roomAmenities__list {
  display: flex;
  flex-wrap: wrap;
}

.room__amenities__item {
  width: 33.333%;
  padding-bottom: calc(8px / 2);
}

.foressta__rooms__row-2,
.iris__rooms__row-2,
.harippur__rooms__row-2 {
  margin-top: 80px;
  margin-bottom: 0;
}
.room__amenity__name {
  padding-left: 10px;
  line-height: 1.8;
}

.room__button__container,
.staysPage__button__container {
  width: 100%;
  display: flex;
}
.room__button__wrap {
  padding: 32px 0 0;
  width: 100%;
}
.staysPage__button__wrap {
  padding: 16px 0;
  width: 100%;
}
.room__button,
.staysPage__button {
  display: inline-flex;
  align-items: center;
  padding: 15px 23px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--first-color);
  border-radius: 0.5rem;
  border: solid 1px var(--first-color);
  font-weight: var(--font-medium);
  height: 16px;
}

.room__button:hover,
.staysPage__button:hover {
  background-color: var(--first-color);
  color: var(--first-color-lighter);
}
@media screen and (max-width: 1024px) {
  .staysPage,
  .hotel {
    padding: 80px 40px;
  }
  .staysPage__title,
  .hotel_title {
    padding: 0% 12%;
  }
  /* .stays__wrapper {
    padding: 0 64px;
  } */

  .right__padding,
  .right__room__pad {
    padding: 0 16px 0 0;
  }

  .mid__padding {
    padding: 0 8px 0;
  }
  .left__padding,
  .left__room__pad {
    padding: 0 0 0 16px;
  }

  .staysPage__img {
    max-width: 100%;
    height: 100%;
  }

  .room__amenities__item {
    width: 100%;
  }
}
@media screen and (max-width: 921px) {
  .staysPage__image__box__title {
    font-size: 22px;
  }
  .room__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .staysPage,
  .hotel {
    padding: 64px 24px;
  }
  .staysPage__title,
  .stays__wrapper {
    padding: 0;
  }
  .stays__row__wrap-0,
  .stays__row__wrap-1,
  .stays__row__wrap-2 {
    width: 100%;
  }
  .facilitis__Row-1,
  .staysPage__description {
    margin: 0;
  }
  .staysPage__descriptionText {
    padding-bottom: 10px;
  }
  .right__padding,
  .left__padding,
  .mid__padding {
    padding: 48px 0 0 0;
  }
  .right__room__pad {
    padding: 0 0 64px 0;
  }
  .left__room__pad {
    padding: 0;
  }
  .stays__Row-2,
  .stays__Row-3 {
    margin-top: 0;
  }
  .foressta__rooms__row-2,
  .iris__rooms__row-2,
  .harippur__rooms__row-2 {
    margin-top: 64px;
  }
  .room__content {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .room__button {
    padding: 13px 21px;
  }
}
