/*========= Google Fonts =======*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Work+Sans:wght@300&display=swap");

/*======= VARIABLES CSS ========*/

:root {
  --header-height: 6rem;

  /*======= COLORS ========*/

  --first-color: #26a69a;
  --first-color-lighter: #ecf3f2;
  --title-color: #11443f;
  --text-color: #586261;
  --body-color: #faf4ed;

  /*======= Font and Typography ========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --sub-font-size: 0.882rem;
  --normal-font-size: 1rem;

  /*======= Font Weight ========*/
  --font-medium: 500;
  --font-semi-bold: 500;

  /*======= z index ========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (max-width: 921px) {
  :root {
    --biggest-font-size: 4rem;
    /* --sub-font-size: 0.88rem; */
    --normal-font-size: 0.941rem;
  }
}

@media screen and (max-width: 544px) {
  :root {
    --biggest-font-size: 3rem;
    --sub-font-size: 0.823rem;
    --normal-font-size: 0.882rem;
  }
}

/*======= BASE ========*/

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.85714285714286;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  line-height: 1.6;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100;
  height: auto;
} */

/*======= LAYOUT ========*/

.main {
  position: relative;
  /* width: 100vw; */
}

.bd-container {
  max-width: 1200px;
}

/*======= HEADER ========*/

.header {
  /* margin-top: 10px; */
  width: 100%;
  height: var(--header-height);
  /* height: 96px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* margin-right: auto;
  margin-left: auto; */
}

/*======= NAV ========*/
.nav {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__container {
  position: relative;
  min-width: 162px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__menu {
  height: 100%;
  width: 70%;
  display: flex;
}

.logo__container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.logo {
  padding-right: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.menu__builder {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu-1 {
  width: 28%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__social {
  padding-right: 10px;
}
.nav__item-1 {
  display: flex;
  flex-direction: row;
}

.nav__button {
  display: flex;
  justify-content: end;
  padding-left: 10px;
  width: 10.5rem;
  height: 3rem;
}
.nav__button-1 {
  display: flex;
  justify-content: end;
  align-items: center;

  margin-left: 24px;
  width: 10.5rem;
}
.nav__button__link {
  border: solid 1px var(--first-color-lighter);
  color: var(--first-color-lighter);
  border-radius: 5px;
  width: 7rem;
  padding: 10px 15px;
  text-align: center;
}

.nav__button__link:hover {
  color: black;
  background-color: white;
}

.nav__logo,
.nav__toggle {
  color: var(--first-color-lighter);
}

.nav__logoImg {
  /* margin-top: 1.75rem; */
  width: 7.5rem;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav__link {
  color: var(--first-color-lighter);
  font-size: 15px;
  font-weight: 800;
  padding-left: 15px;
  padding-right: 15px;
}

.nav__link-1,
.nav__link-2,
.nav__link-3 {
  display: flex;
  color: var(--first-color-lighter);
}
.nav__link-2 {
  margin-left: 12px;
  margin-right: 12px;
}
.nav__link-3 {
  margin-left: 12px;
}
.nav__link-1 {
  margin-right: 12px;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Show Menu */

@media screen and (min-width: 921px) {
  .nav__toggle {
    display: none;
  }
}

@media screen and (max-width: 921px) {
  .header {
    height: 5rem;
  }

  .logo {
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu__builder {
    position: absolute;
    top: -500%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 1.5rem;
    background-color: var(--first-color-lighter);
    opacity: 90%;
    border-radius: 1rem;
    transition: 0.5s;
    justify-content: center;
    overflow: hidden;
  }

  .nav__link {
    color: var(--text-color);
    padding-bottom: 20px;
  }

  .nav__item {
    width: 100%;
  }

  .nav__logoImg {
    /* margin-top: 1.75rem; */
    width: 6.5rem;
  }
  .nav__menu-1 {
    display: none;
  }

  .show-menu {
    top: calc(var(--header-height) + 0.5rem);
  }
  .nav__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    height: 4rem;
  }

  .logo {
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* .menu__builder {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  } */

  .nav__logoImg {
    /* margin-top: 1.75rem; */
    width: 5.5rem;
  }
}
/*======= Landing Page ========*/

/* .cottage-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
} */

.landingPage {
  position: relative;
  /* display: flex; */

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 40px 0;
}
.landingPage__background__img-1 {
  background-image: url(/assets/img/foressta.jpg);
}
.landingPage__background__img-2 {
  background-image: url(/assets/img/iris-cotage.jpg);
}
.landingPage__background__img-3 {
  background-image: url(/assets/img/harripur-ice.jpg);
}
.landingPage__backgrounf__overlay {
  background-color: transparent;
  background-image: linear-gradient(135deg, #3c3c3c 0%, #181818 100%);
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.cottage {
  /* width: 100vh; */
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  /* width: 100%; */
  /* height: 100%; */
}
.cottage__content__container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: 40%;
}

.cottage__data {
  width: 100%;
  /* padding-right: 30rem; */
  filter: brightness(1.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cottage__subtitle,
.cottage__title,
.cottage__description {
  color: var(--first-color-lighter);
}

.subtitle__container {
  padding-bottom: 0.75rem;
  margin-bottom: 1.25rem;
}
.cottage__subtitle {
  font-size: var(--sub-font-size);
  font-weight: var(--font-medium);
  letter-spacing: 2px;
}
.cottage__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  line-height: 1.4em;
}
.title__container {
  margin-bottom: 1.25rem;
}
.descriptionSize__container {
  padding-right: 144px;
}
.description__container {
  margin-bottom: 1.3rem;
}

.cottage__description {
  margin-bottom: 1rem;
  font-size: 100%;
}
.cottage__button {
  display: inline-flex;
  align-items: center;
  padding: 0.95rem 1.44rem;
  font-size: 1rem;
  background-color: var(--first-color-lighter);
  color: var(--title-color);
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  height: 16px;
}

.cottage__button:hover {
  background-color: transparent;
  border: solid 1px white;
  color: var(--first-color-lighter);
}

@media screen and (max-width: 1024px) {
  .cottage {
    min-height: 70vh;
    max-width: 1024px;
    flex-wrap: wrap;
  }
  .cottage-bg,
  .landingPage {
    min-height: 70vh;
  }
  .cottage__content__container {
    padding-right: 64px;
  }
  .descriptionSize__container {
    padding-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .cottage__content__container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cottage__content__container {
    width: 100%;
    padding-right: 0;
  }
  .descriptionSize__container {
    width: auto;
    padding-right: 0;
  }
  .cottage,
  .cottage-bg,
  .landingPage {
    min-height: 100vh;
    max-width: 767px;
  }
}

@media screen and (max-width: 544px) {
  .landingPage {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .cottage__title {
    font-weight: var(--font-medium);
    line-height: 1.4;
  }
  .cottage__description {
    line-height: 1.6;
  }
}

/* Controls */
/* .controls__img {
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.controls__img:hover {
  opacity: 1;
} */

/* 
.controls {
  position: absolute;
  margin-bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  background-color: var(--first-color-lighter);
  background: transparent;
  border-radius: 0.75rem;
  z-index: var(--z-tooltip);
  overflow: hidden;
} */

/* .controls__container {
  display: flex;

  align-items: center;
  column-gap: 1rem;
}

.swiper-slide-thumb-active {
  width: 35px;
  height: 35px;
  opacity: 1;
} */

/*=========== Nearby =================*/
/* Image */
.nearby {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 104px 40px;
}
.nearby__container {
  display: flex;
  flex-wrap: wrap;
}

.nearby__imgContainer {
  width: 50%;
  display: flex;
  align-content: center;
  align-items: center;
}

.nearby__imgWrapper {
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 96px 0 0;
}

.nearby__img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .nearby {
    padding: 80px 40px;
  }
  .nearby__imgContainer {
    width: 34%;
    align-content: flex-start;
    align-items: flex-start;
  }
  .nearby__imgWrapper {
    padding: 0 48px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .nearby {
    padding: 64px 24px;
  }

  .nearby__imgContainer {
    width: 100%;
  }
  .nearby__imgWrapper {
    padding: 0 0 32px;
  }
}
/* Content Nearby */
.nearby__content {
  width: 50%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.nearby__content__container {
  margin-bottom: 20px;
  width: 100%;
}

.nearby__title__wrapper {
  padding: 0 0 12px;
}

.nearby__title {
  font-family: var(--body-font);
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.25em;
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.nearby__description__wrapper {
  margin: 0 0 -17px;
  padding: 0 48px 0 0;
}

.nearby__description,
.nearby__description-1 {
  font-size: 100%;
  margin-bottom: 1em;
}

.nearby__description {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.nearby__button__container {
  width: 100%;
}

.nearby__button {
  display: inline-flex;
  align-items: center;
  padding: 15px 23px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--first-color);
  border-radius: 0.5rem;
  border: solid 1px var(--first-color);
  font-weight: var(--font-medium);
  height: 16px;
}

@media screen and (max-width: 1024px) {
  .nearby__content {
    width: 66%;
  }
}

@media screen and (max-width: 921px) {
  .nearby__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .nearby__content {
    width: 100%;
  }

  .nearby__description__wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 544px) {
  .nearby__title {
    font-size: 30px;
  }
  .nearby__button {
    padding: 13px 21px;
  }
}

/*================= DATA =================*/

.data {
  margin-top: 96px;
  margin-bottom: 0;
}

.data__container {
  display: flex;

  flex-wrap: wrap;
}
.data__item {
  width: 25%;
}

.data__info {
  text-align: center;
  font-family: var(--body-font);
  font-size: 48px;
  line-height: 1;
  color: #54595f;
}

.data__title {
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  line-height: 2.5;
  color: #54595f;
}

@media screen and (max-width: 1024px) {
  .data__title {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .data {
    margin-top: 64px;
  }
  .data__item {
    width: 50%;
  }
  .data__info {
    font-size: 40px;
    line-height: 1.2;
  }
  .data__title {
    line-height: 1.4em;
  }
  .data_bottomPad {
    padding: 0 0 32px;
  }

  .data__margin,
  .data__title {
    padding: 0 16px;
  }
}

/*=========== Location =================*/
.location {
  padding: 104px 40px 0;
}

.location__container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.location__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 48px;
}
.location__text {
  width: 66.666%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 0;
}

.location__title__container {
  margin-bottom: 4px;
  width: 100%;
}

.title__paddingContainer {
  padding: 0 0 12px;
}
.location__textTitle {
  font-family: var(--body-font);
  font-size: 42px;
  font-weight: var(--font-medium);
  color: var(--title-color);
  letter-spacing: -1px;
  line-height: 1.25em;
}

.location__description__container {
  width: 100%;
}

.desPad__container {
  margin: 0 0 -17px;
}
.location__textDescription {
  font-size: 100%;
  margin-bottom: 1em;
}
.location__buttonContainer {
  width: 33.333%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.location__button {
  display: inline-block;

  padding: 15px 23px;
  border: solid 1px var(--first-color);
  color: var(--first-color);
  border-radius: 6px;
  font-weight: var(--font-medium);
  font-size: 1rem;
  line-height: 1em;
}

.location__icon {
  margin-right: 16px;
}
.location__button:hover {
  /* background-color: transparent; */

  color: var(--first-color-lighter);
  background-color: var(--first-color);
}
.map__container {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.map__canvas {
  overflow: hidden;
  line-height: 0;
}
@media screen and (max-width: 1024px) {
  .location {
    padding: 80px 40px 0;
  }
}
@media screen and (max-width: 921px) {
  .location__textTitle {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .location {
    padding: 64px 0 0;
  }

  .location__container {
    max-width: 767px;
  }

  .location__info {
    padding: 0 24px;
  }
  .location__text {
    width: 100%;
    text-align: center;
    padding: 0 0 24px;
  }
  .location__buttonContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 544px) {
  .location__textTitle {
    font-size: 30px;
  }
  .location__textDescription {
    font-size: 0.94rem;
  }
}

/*=========== Faclities =================*/

.facilities {
  padding: 104px 40px;
}

.facilities__container {
  margin-right: auto;
  margin-left: auto;
}

.facilities__title {
  margin-bottom: 20px;
}

.facilities__text {
  font-family: var(--body-font);
  font-size: 42px;
  line-height: 1.25em;
  font-weight: var(--font-medium);
  color: var(--title-color);
  text-align: center;
}
.facilities__description {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.facilities__descriptionText {
  padding: 0% 25%;
  line-height: 1.857;
}

.facilitis__Row {
  margin-top: 56px;
  width: 100%;
}

.row__container {
  display: flex;

  flex-wrap: wrap;
}
.column__item {
  width: 25%;
  /* display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center; */
}

.facilities__icon {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

.icon__animation {
  font-size: 15px;
  transition: all 0.3s;
}

.icon__box {
  text-align: center;

  color: var(--title-color);
}

.icon__box__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: var(--font-medium);
}
@media screen and (max-width: 1024px) {
  .facilities {
    padding: 80px 40px;
  }
  .facilities__descriptionText {
    padding: 0 64px;
    line-height: 1.857;
  }
}
@media screen and (max-width: 921px) {
  .facilities__text {
    font-size: 34px;
  }
  .icon__box__title {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  .facilities {
    padding: 64px 24px;
  }
  .facilities__descriptionText {
    padding: 0;
  }
  .column__item {
    width: 50%;
  }
  .icon__animation {
    font-size: 11px;
    transition: all 0.3s;
  }
  .facilitis__Row {
    margin-top: 0;
  }

  .left__pad,
  .right__pad {
    padding: 0 0 24px 0;
  }
  .facilities__description {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 544px) {
  .facilities__text {
    font-size: 30px;
  }
  .facilities__descriptionText {
    font-size: 0.88rem;
  }
}
/*=========== Places Section =================*/
.places {
  padding: 104px 40px;
}

.places__container {
  margin-right: auto;
  margin-left: auto;
}
.places__heading,
.offers__heading {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.heading__title,
.offers__title {
  width: 66.666%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 0;
}

.title__text,
.OffersTitle__text {
  font-family: var(--body-font);
  font-size: 42px;
  font-weight: var(--font-medium);
  color: var(--title-color);
  letter-spacing: -1px;
  line-height: 1.25em;
  padding: 0 0 12px;
}

.seeAll-button,
.viewAll-button {
  width: 33.333%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.seeAll-link,
.viewAll-link {
  display: inline-block;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 23px;
  border: solid 1px var(--first-color);
  color: var(--first-color);
  border-radius: 6px;
  font-weight: var(--font-medium);
  font-size: 0.941;
  line-height: 1em;
}

.seeAll-link:hover,
.viewAll-link:hover {
  color: var(--first-color-lighter);
  background-color: var(--first-color);
}
.places-1__content_1 {
  margin-top: 0;
  margin-bottom: 48px;
  width: 100%;
  line-height: 1.857;
}
.offers__content {
  margin-top: 0;

  width: 100%;
  line-height: 1.857;
}
.places-1,
.places-2,
.offers-1 {
  display: flex;

  flex-wrap: wrap;
}

.individual__places-1__container_1,
.individual__places-1__container_2,
.individual__places-1__container_3,
.individual__places-2__container_1,
.individual__places-2__container_2,
.individual__places-2__container_3 {
  width: 33.333%;
}

.places-1Item__container_1,
.places-2Item__container_1,
.offers-1Item__container_1 {
  padding: 0 32px 0 0;
}
.places-1Item__container_2,
.places-2Item__container_2 {
  padding: 0 16px;
}
.places-1Item__container_3,
.places-2Item__container_3,
.offers-1Item__container_2 {
  padding: 0 0 0 32px;
}

.img_container {
  width: 100%;
  margin-bottom: 24px;
}

.places-1__img,
.places-2__img,
.offers-1__img {
  border-radius: 8px;
  transition-duration: 0.3s;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.places-1_titleText,
.places-2_titleText,
.offers-1_titleText {
  font-family: var(--body-font);
  font-size: 1.4117647058824rem;
  line-height: 1.2em;
  font-weight: var(--font-medium);
  color: var(--title-color);
  text-align: left;
}
.places-1__title,
.places-2__title,
.offers-1__title {
  margin-bottom: 8px;
}

.places-1__description,
.places-2__description,
.offers-1__description {
  margin-bottom: 20px;
}

.places-1__descriptionText,
.places-2__descriptionText,
.offers-1__descriptionText {
  line-height: 1.857;
  font-size: 100%;
}
.places-1__link,
.places-2__link,
.offers-1__link {
  font-size: 0.941rem;
  color: var(--first-color);
  line-height: 1em;
  font-weight: var(--font-medium);
}

/*=========== Offers Section =================*/

.offers {
  padding: 64px 40px 104px;
  background-color: whitesmoke;
}

.offers__container {
  margin-right: auto;
  margin-left: auto;
}
.individual__offers-1__container_1,
.individual__offers-1__container_2 {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 80px 40px;
  }
  .places-1Item__container_1,
  .places-2Item__container_1,
  .offers-1Item__container_1 {
    padding: 0 16px 0 0;
  }
  .places-1Item__container_2,
  .places-2Item__container_2 {
    padding: 0 8px;
  }
  .places-1Item__container_3,
  .places-2Item__container_3,
  .offers-1Item__container_2 {
    padding: 0 0 0 16px;
  }
  .offers {
    padding: 48px 40px 80px;
  }
}
@media screen and (max-width: 921px) {
  .title__text,
  .OffersTitle__text {
    font-size: 34px;
  }
  .places-1_titleText,
  .places-2_titleText,
  .offers-1_titleText {
    font-size: 1.294rem;
  }
  .places-1__descriptionText,
  .places-2__descriptionText,
  .offers-1__descriptionText {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 767px) {
  .places,
  .offers {
    padding: 64px 24px;
  }
  .heading__title,
  .offers__title,
  .viewAll-button,
  .seeAll-button {
    width: 100%;
    justify-content: center;
  }
  .heading__title,
  .offers__title {
    padding: 0 0 24px;
  }

  .individual__places-1__container_1,
  .individual__places-1__container_2,
  .individual__places-1__container_3,
  .individual__places-2__container_1,
  .individual__places-2__container_2,
  .individual__places-2__container_3,
  .individual__offers-1__container_1 {
    width: 100%;

    padding: 0 0 48px;
    justify-content: flex-start;
  }
  .individual__offers-1__container_2 {
    width: 100%;

    padding: 0;
    justify-content: flex-start;
  }
  .places-1Item__container_1,
  .places-1Item__container_2,
  .places-1Item__container_3,
  .places-2Item__container_1,
  .places-2Item__container_2,
  .places-2Item__container_3,
  .offers-1Item__container_1,
  .offers-1Item__container_2 {
    padding: 0;
  }

  .places-1__content_1 {
    margin-bottom: 0;
  }

  /* .img_container {
    display: inline-block;
  } */
}
@media screen and (max-width: 544px) {
  .title__text,
  .OffersTitle__text {
    font-size: 30px;
  }

  .places-1__descriptionText,
  .places-2__descriptionText,
  .offers-1__descriptionText {
    font-size: 0.88rem;
  }

  .seeAll-link,
  .viewAll-link {
    padding-top: 13px;
    padding-right: 21px;
    padding-bottom: 13px;
    padding-left: 21px;
  }
}

/*=========== review section =================*/

.reviews {
  padding: 100px 40px 104px;
}
.review__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.left__column,
.right__column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.left__column__wrapper {
  display: flex;
  padding: 0 24px 0 0;
  align-content: flex-start;
  flex-wrap: wrap;
}

.right__column__wrapper {
  display: flex;
  padding: 0 0 0 24px;
  align-content: flex-end;
  flex-wrap: wrap;
}

.review__title {
  margin-bottom: 20px;
  width: 100%;
}

.review__text {
  line-height: 1.25em;
  font-size: 42px;
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}

.review__description,
.reviewDesc__text {
  margin-bottom: 20px;
}

.riviewDesc__container {
  padding: 0 80px 0 0;
  line-height: 1.6rem;
}

.guest__review__1 {
  margin-top: 0;
  margin-bottom: 48px;
}
.review__content {
  display: flex;
}
.reviewContent__container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 40px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #e9e9e3;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.star__rating {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  font-size: 1rem;
}

.comment__container {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.guest__details {
  width: 100%;
  line-height: 1em;
  text-align: left;
  display: inline-block;
}

.guest__img {
  padding-right: 16px;
  display: table-cell;
  vertical-align: middle;
  line-height: 1;
}
.guest-face__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  max-width: none;
  object-fit: cover;
  vertical-align: middle;
}

.guest__name {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  line-height: 1;
}

.guestName__text {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.overall__rating {
  margin-bottom: 48px;
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.rating_wrapper {
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: var(--body-font);
}

.main__rating {
  margin-bottom: 5px;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  color: var(--title-color);
  line-height: 1;
}

.outOf__rating {
  margin-bottom: 5px;
  width: 100%;
  font-weight: 700;
  line-height: 1;
}

.ratingStar {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.ratingPlatforms {
  width: 77.666%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6em;
  align-items: center;
  align-content: center;
}

.divider {
  width: 100%;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #e9e9e3;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0 0 0 48px;
}

.platformsWrapper {
  line-height: 1.6em;
}
.singlePlatform__wrapper {
  padding-bottom: calc(4px / 2);
  display: flex;
  align-items: center;
}
.ratingsData {
  padding-left: 8px;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .reviews {
    padding: 80px 40px;
  }
  .left__column__wrapper {
    padding: 0 8px 0 0;
  }
  .right__column__wrapper {
    padding: 0 0 0 8px;
  }
  .review__title {
    padding: 0 48px 0 0;
  }
  .riviewDesc__container {
    padding: 0;
  }
  .guest__review__1 {
    margin-top: 0;
    margin-bottom: 16px;
  }
  .reviewContent__container {
    padding: 24px;
  }
  .overall__rating {
    margin-bottom: 32px;
  }
  .rating_wrapper {
    width: 40%;
  }
  .main__rating {
    font-size: 55px;
  }
  .ratingPlatforms {
    width: 60%;
  }
  .divider {
    padding: 0 0 0 40px;
  }
}

@media screen and (max-width: 921px) {
  .review__text {
    font-size: 34px;
  }
  .reviewDesc__text,
  .star__rating,
  .outOf__rating,
  .platformIcon,
  .ratingsData {
    font-size: 0.941rem;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    padding: 64px 24px;
  }
  .left__column,
  .right__column {
    width: 100%;
  }
  .left__column__wrapper {
    padding: 0 0 48px;
  }
  .right__column__wrapper {
    padding: 0;
  }
  .overall__rating {
    margin-bottom: 48px;
  }
  .rating_wrapper {
    width: 40%;
  }
  .ratingPad {
    padding: 0 0 0 16px;
  }
  .main__rating {
    font-size: 45px;
  }
  .ratingPlatforms {
    width: 60%;
  }
  .divider {
    padding: 0 0 0 32px;
  }
}

@media screen and (max-width: 544px) {
  .review__text {
    font-size: 30px;
  }
  .reviewDesc__text,
  .star__rating,
  .outOf__rating,
  .platformIcon,
  .ratingsData {
    font-size: 0.88rem;
  }
}

/* ===================== HOTEL INFO===============*/

.hotelInfo,
.gallery {
  padding: 104px 40px;
}

.hotelInfo__container,
.gallery__container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hotel__title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 20px;
}

.hotel__text,
.gallery__text {
  line-height: 1.25em;
  font-size: 42px;
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.hotelInfo__data,
.gallery__data {
  margin-top: 24px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hotelData__container,
.hotelData-1__container,
.hotelData-2__container,
.hotelData-3__container {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
}

.hotelData__wrapper {
  display: flex;
  padding: 0 40px 0 0;
}

.hotel__data__0,
.hotel__data__1,
.hotel__data__2,
.hotel__data__3,
.hotel__data__4,
.hotel__data__5,
.hotel__data__6 {
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: row;
  align-items: flex-start;
  line-height: 1.6rem;
}

.hotel__data__1,
.hotel__data__2,
.hotel__data__3,
.hotel__data__4,
.hotel__data__5,
.hotel__data__6 {
  padding: 0 0 0 48px;
}

.hotel__data__1,
.hotel__data__3,
.hotel__data__5 {
  margin-bottom: 32px;
}

.hotelData__icon {
  display: inline-flex;
  margin-right: 15px;
  font-size: 24px;
  text-align: center;
  line-height: 1;
  transition: all 0.3s;
}

.hotelData__text__container {
  flex-grow: 1;
  text-align: left;
}

.hotelData__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  font-size: 0.94rem;
  line-height: 1.25em;
  color: var(--title-color);
  font-family: var(--body-color);
  font-weight: var(--font-medium);
}

.hotelData__description {
  font-size: 0.97rem;
}

/*===================Gallery==============*/

.gallery__title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.galleryData__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}
.image__container__1,
.image__container__4 {
  display: flex;
  /* flex-wrap: wrap; */

  width: 33.333%;
}
.image__container__2,
.image__container__3 {
  /* display: flex;
  flex-wrap: wrap; */
  width: 66.666%;
}
.image__wrapper__1,
.image__wrapper__3 {
  padding: 0 12px 0 0;
}
.image__wrapper__2,
.image__wrapper__4 {
  padding: 0 0 0 12px;
}
.mainImage__holder__0,
.mainImage__holder__4 {
  margin-bottom: 24px;
}

.main__gallery__image {
  vertical-align: middle;
  max-width: 100%;
  border-radius: 8px 8px 8px 8px;
}

/*========================Extra Perks==========*/

.extra__perks {
  background-color: #52505e;
  background-image: url(/assets/img/cottage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 144px 40px;
  position: relative;
}

.extraperks__background__overlay {
  background-color: #0e0e05;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.extra__perk__container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.perks__content {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.perksSub__container,
.perksTitle__container,
.perksNum__container {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.perkSub {
  margin: 0 0 20px;
  padding: 0;
}
.perksNum {
  margin: 20px 0 0;
}
.perksSub__text,
.perksNum__text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.25em;
  font-size: 15px;
  font-family: var(--body-font);
  font-weight: 500;
}
.perksTitle__text {
  color: #fff;

  line-height: 1.25em;
  font-size: 42px;
  font-family: var(--body-font);
  font-weight: 500;
}

.perksContact__container {
  text-align: center;

  width: 100%;
}
.perksContact {
  padding: 0 0 20px;
  display: flex;
  justify-content: center;
}

.perksContact___icon,
.perksContact__text {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--body-font);

  font-weight: 600;
  line-height: 1em;
}
.perksContact___icon {
  font-size: 40px;
  transition: all 0.3s;
}
.perksContact__text {
  padding-left: 16px;
  font-size: 48px;
  transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
  .hotelInfo,
  .gallery,
  .extra__perks {
    padding: 80px 40px;
  }
  .hotelData__container {
    width: 100%;
  }
  .hotelData__wrapper {
    padding: 0 48px 32px 0;
  }
  .hotel__data__1,
  .hotel__data__2,
  .hotel__data__3,
  .hotel__data__4,
  .hotel__data__5,
  .hotel__data__6 {
    padding: 0;
  }

  .hotelData-1__container,
  .hotelData-2__container,
  .hotelData-3__container {
    width: 33.333%;
  }

  .image__wrapper__2,
  .image__wrapper__3 {
    padding: 0;
  }

  .perksContact___icon {
    font-size: 32px;
  }
  .perksContact__text {
    font-size: 40px;
  }
}

@media screen and (max-width: 921px) {
  .hotel__text,
  .gallery__text,
  .perksTitle__text {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) {
  .hotelInfo,
  .gallery,
  .extra__perks {
    padding: 64px 24px;
  }

  .hotelData__wrapper {
    padding: 0 0 48px;
  }

  .hotel__data__0 {
    flex-direction: column;
  }

  .hotelData__icon {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: left;
  }
  .hotel__data__1,
  .hotel__data__2,
  .hotel__data__3,
  .hotel__data__4,
  .hotel__data__5,
  .hotel__data__6 {
    padding: 0;
    flex-direction: column;
  }
  .hotel__data__5,
  .hotel__data__6 {
    width: 50%;
  }
  .hotelData-1__container,
  .hotelData-2__container {
    width: 50%;
  }
  .hotelData-3__container {
    width: 100%;
    padding: 32px 0 0;
  }

  .image__wrapper__1 {
    padding: 0 0 24px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .image__wrapper__4 {
    padding: 24px 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .mainImage__holder__1,
  .mainImage__holder__2,
  .mainImage__holder__3,
  .mainImage__holder__4,
  .mainImage__holder__5,
  .mainImage__holder__0 {
    width: 100%;
    text-align: center;
  }

  .image__container__1,
  .image__container__4 {
    width: 100%;
  }
  .image__container__2,
  .image__container__3 {
    width: 100%;
  }

  .perksContact___icon {
    font-size: 28px;
  }
  .perksContact__text {
    font-size: 24px;
  }
}

@media screen and (max-width: 544px) {
  .hotel__text,
  .gallery__text,
  .perksTitle__text {
    font-size: 30px;
  }
  .hotelData__description,
  .hotelData__title {
    font-size: 0.88rem;
  }
}

/*================= Footer =================*/

.footer__wrapper {
  padding-top: 104px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
.footerInfo__container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.footerInfo__innerWrap {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;

  align-items: flex-start;
  grid-column-gap: 30px;
  overflow-wrap: anywhere;
  grid-template-columns: repeat(4, 1fr);
}

.footer__setion-1__content {
  margin-bottom: 24px;
  text-align: left;
}

.footer__logoImg {
  margin-bottom: 1em;
  line-height: 1.6em;
}

.img__footer {
  color: #000000;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.social__link__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  line-height: 1.5;
}

.instagram__link {
  margin-right: 12px;
  font-size: 18px;
  color: #502ed9;
}

.airbnb__link,
.facebook__link {
  margin-right: 12px;
  margin-left: 12px;
  font-size: 18px;
  color: #502ed9;
}

.twitter__link {
  margin-left: 12px;
  font-size: 18px;
  color: #502ed9;
}

.footer__menu-1__title,
.footer__menu-2__title,
.footer__address__title {
  font-size: 24px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.menu-1__link,
.menu-2__link {
  color: #4b4949;
  transition: all 0.2s linear;
}

.address__text {
  margin-bottom: 1em;
  transition: all 0.2s linear;
}

@media screen and (max-width: 921px) {
  .footerInfo__innerWrap {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .footer__menu-1__title,
  .footer__menu-2__title,
  .footer__address__title {
    font-size: 22px;
  }
  .footer__section-1__text,
  .menu-1__link,
  .menu-2__link,
  .address__text {
    font-size: 0.941rem;
  }
}

@media screen and (max-width: 544px) {
  .footer__wrapper {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }
  .footerInfo__innerWrap {
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .footer__menu-1__title,
  .footer__menu-2__title,
  .footer__address__title {
    font-size: 21px;
  }
  .footer__section-1__text,
  .menu-1__link,
  .menu-2__link,
  .address__text {
    font-size: 0.882rem;
  }
  .footer__setion-1__content,
  .social__link__container {
    text-align: center;
    justify-content: center;
  }
}

.copyright__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-top-color: #ebeaf6;
}

.copyright__content {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  color: #9f9ea5;
}
